.snack-bar-message{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    .example-pizza-party{
        p{
            padding: 0 5px 0 5px;
        }
    }

}
.example-pizza-party{
    p{
        margin: 0;
    }
}
// .success{
//     width: 100%;
//     min-height: 50px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
//     background-color: rgb(95, 206, 114);
//     padding: 10px 5px 10px 5px;
//     border-radius: 8px;
// }
// .failed{
//     width: 100%;
//     min-height: 50px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
//     background-color: rgb(255, 79, 79);
//     padding: 10px 5px 10px 5px;
//     border-radius: 8px;
// }
// ::ng-deep .mdc-snackbar__label{
//     padding: 0!important;
//     border-radius: 12px;
// }
// mat-snack-bar-container :ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
//     padding: 0!important;
// }
::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    padding: 0!important;
    border-radius: 12px;
  }
// ::ng-deep mat-snack-bar-container{
//     padding: 0!important;
// }
